{% extends 'base.html.twig' %}

{% block title %}{{ national.name }}{% endblock %}

{% block body %}
    <h1>Update fields</h1>

    {{ include('national/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('national/_delete_form.html.twig') }}
    <a href="{{ path('app_national_index') }}">Back</a>
{% endblock %}
