{% extends 'base.html.twig' %}

{% block title %}Add national team{% endblock %}

{% block body %}
<body style="background-image: url({{ bg }});
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h1>Informations about national teams</h1>
            <a class="navbar-brand" href="{{ path('app_national_index') }}">Back</a>
        </div>
    </nav><br>

    {{ include('national/_form.html.twig') }}
</body>
{% endblock %}
