{% extends 'base.html.twig' %}

{% block title %}Add national team{% endblock %}

{% block body %}
    <h1>Informations to put</h1>

    {{ include('national/_form.html.twig') }}

    <a href="{{ path('app_national_index') }}">Back</a>
{% endblock %}
