{% extends 'base.html.twig' %}

{% block title %}{{ club.name }}{% endblock %}

{% block body %}
    <h1>Update fields</h1>

    {{ include('club/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('club/_delete_form.html.twig') }}
       <a href="{{ path('app_club_index') }}">Back</a>
{% endblock %}
