{% extends 'base.html.twig' %}

{% block title %}Add club{% endblock %}

{% block body %}
    <h1>Informations to put</h1>

    {{ include('club/_form.html.twig') }}

    <a href="{{ path('app_club_index') }}">Back</a>
{% endblock %}
